/* src/components/Cart/CartSummary.css */

.cart-summary-card {
    flex: 1;
    min-width: 280px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.order-summary-card h3 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.4rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #555;
}

.summary-item span:first-child {
    font-weight: normal;
}
.summary-item span:last-child {
    font-weight: bold;
    color: #333;
}

.cart-summary-card hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}

.summary-total-final {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .order-summary-card {
        min-width: unset;
        width: 100%;
    }
}