.sucursal-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.featured-sucursal h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 30px;
}

.sucursal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    justify-content: center; /* Centrar las tarjetas si hay pocas */
}

.sucursal-card {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card h4 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

.product-card p {
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 15px;
}